body {
    font-size: 22px;
    background-color:rgba(0,255,0,0.3); /* green with opacity */
}
#content {
    margin-left: 300px;
    margin-top: 200px;
    height: 200px;
    width: 300px;
    text-align: center;
}
#boardContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("orangeBackground.png");
    color: white;
}
#refreshButton {
    font-size: 16px;
    margin: 4px 2px;
    padding: 16px 32px;
    background-color: white; 
    color: black; 
    border: 2px solid goldenrod;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#refreshButton:hover {
    background-color: goldenrod; 
    color: white; 
}
#endText {
    color: limegreen;
    font-size: 25px;
}